@model HelperMethods07.Models.Person

@{
    ViewBag.Title = "CreatePersonWithTemplatedHelper";
    Layout = "/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}

<h2>Create Person with Templated Helper</h2>

@using (Html.BeginRouteForm("FormRoute", new { }, FormMethod.Post, new { @class = "personClass", data_formType = "person" }))
{
    <div class="dataElem">
        @Html.EditorFor(m=>m.PersonId)
    </div>
    <div class="dataElem">
        @Html.LabelFor(m=>m.FirstName)
        @Html.Editor("FirstName")
    </div>
    <div class="dataElem">
        @Html.LabelFor(m => m.LastName)
        @Html.EditorFor(m => m.LastName)
    </div>
    <div class="dataElem">
        @Html.LabelFor(m => m.Role)
        @*@Html.EditorFor(m => m.Role, new SelectList(Enum.GetNames(typeof(HelperMethods07.Models.Role))))*@
        @Html.EditorFor(m=>m.Role)
    </div>
    <div class="dataElem">
        @Html.LabelFor(m => m.BirthDate)
        @Html.EditorFor(m => m.BirthDate)
    </div>
    <input type="submit" value="Submit" />
}
